<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Fearless Eater</title>
    <link rel="stylesheet" href="../public/css/normalize.css" />
    <!-- <link rel="stylesheet" href="../public/css/style.css" /> -->

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">The Fearless Eater</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Sass</a></li>
          <li><a href="/">Components</a></li>
          <li><a href="/">JavaScript</a></li>
        </ul>
      </div>
      <p>Restaurant stuff</p>
    </nav>

    <section>
      <h1>Info</h1>
      <p>Info stuff</p>
    </section>

    <section>
      <h1>Contact</h1>
      <p>Contact us</p>
      <button class="submit">Submit</button>
      <div class="results">RESULTS HERE</div>
    </section>

    <footer><p>Footer stuff</p></footer>

    <script src="../public/js/script.js"></script>
  </body>
</html>
