@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
/* You can add this to just about everything. If you add any padding or border to an element, it won't affect the width of it */

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

navbar {
  /* background-color: black; */
  display: inline-block;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  /* font-size: 1.25em; */
  /* z-index: 1; */
}

/* navbar ul {
  justify-content: space-between;
} */

navbar a {
  color: white;
  text-decoration: none;
}

navbar a:hover {
  background-color: white;
  border: none;
  color: black;
  font-size: 16px;
  margin: 4px 2px;
  padding: 16px 32px;
  transition-duration: 0.4s;
  /* text-align: center; */
  /* text-decoration: none; */
  /* display: inline-block; */
  /* cursor: pointer; */
}

#backgroundImg {
  height: auto;
  /* width: 100vw; */
  /* height: 100px; */
  /* overflow-y: hidden; */
  /* opacity: 0.5; */
  /* background-position: center center; */
}

#logo {
  width: 100px;
  height: 100px;
}

#logoCenterText {
  font-size: 30px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  background-color: black;
  border: 1px solid black;
  font-size: 1.2em;
  margin: 10px 200px 10px 200px;
  padding: 10px;
  /* position: relative; */
  text-align: center;
}

.merchItems {
  background-color: lightpink;
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-size: 1em;
}

.blogPosts {
  background-color: lightpink;
  border: 1px solid black;
  display: inline-block;
  font-size: 1em;
  height: 400px;
  margin: 10px;
  padding: 10px;
  text-align: justify;
  text-indent: 50px;
  text-justify: inter-word;
  width: 300px;
}

#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}

#contactContainer {
  background-color: #f2f2f2;
  border: 1px solid black;
  padding: 20px;
}

.btn {
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
}

.btn:hover {
  background-color: darkgrey;
  color: white;
}

footer {
  text-align: center;
  color: #fff;
  background-color: black;
  width: 100%;
  padding: 5px;
  /* position: fixed; */
  /* position: absolute; */
  /* bottom: 0; */
  /* z-index: 1; */
}
