@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
/* You can add this to just about everything. If you add any padding or border to an element, it won't affect the width of it */

body {
  /* align-items: center; */
  /* display: flex; */
  /* flex-direction: column; */
  font-family: "Roboto", sans-serif;
  height: 100vh;
  /* justify-content: center; */
  margin: 0;
  overflow-x: hidden;

  /* background-color: steelblue;
  color: #fff;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0; */
}

/* -------------------- Navbar -------------------- */

navbar {
  background-color: black;
  /* display: inline-block; */
  height: 75px;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  /* vertical-align: middle; */
  /* font-size: 1.25em; */
  z-index: 1;
}

/* navbar ul {
  justify-content: space-between;
} */

navbar a {
  color: white;
  font-size: 18px;
  margin: 4px 2px;
  padding: 16px 32px;
  text-decoration: none;
}

navbar a:hover {
  background-color: white;
  border: none;
  color: black;
  /* font-size: 16px; */
  /* margin: 4px 2px; */
  /* padding: 16px 32px; */
  transition-duration: 0.4s;
  /* text-align: center; */
  /* text-decoration: none; */
  /* display: inline-block; */
  /* cursor: pointer; */
}

/* .banner {
  background-color: lightgrey;
  color: black;
  width: 100vw;
} */

/* -------------------- Background Images -------------------- */

/* .bgContainer img { */
/* height: auto; */
/* opacity: 0.8;   */
/* width: 100vw; */
/* overflow-y: hidden; */
/* background-position: center center; */
/* } */

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/pexels-photo-67468.jpeg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.backgroundImgOne {
  /* background-image: "C:\Users\awill\code\__Personal Projects__\The-Fearless-Eater\assets\pexels-photo-67468.jpeg"; */
  /* width: 100vw; */
  /* min-height: 500px; */
  /* min-width: 100%; */
  height: 500px;
  width: 100%;
  /* background-position: center center; */
  object-fit: cover;

  /* height: "300px"; */

  /* position: relative; */
  /* opacity: 0.65; */

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundImgTwo {
  /* position: relative; */
  height: 750px;
  width: 100%;
  object-fit: cover;

  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.backgroundImgThree {
  position: relative;
  height: 750px;
  width: 100%;
  object-fit: cover;

  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.backgroundImgFour {
  position: relative;
  height: 750px;
  width: 100%;
  object-fit: cover;

  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.bgContainer1 h1 {
  font-size: 60px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  width: 60px;
  height: 60px;
}

/* -------------------- Container -------------------- */

.container1 {
  background-color: black;
  border: 1px solid black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

  color: white;
  font-size: 1.2em;
  margin: 10px 200px 10px 200px;
  padding: 10px;
  /* position: relative; */
  text-align: center;
}

.boxOne {
  width: 100%;
  background-color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.boxTwo {
  width: 100%;
  background-color: grey;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

/* -------------------- Merch -------------------- */

.merchItems1 {
  background-color: darkgrey;
  border: 1px solid black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-size: 1em;
}

.overlay1 {
  position: absolute;
  /* top: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  height: 450px;
  width: 450px;
  opacity: 1;
  transition: 0.5s ease;
  background-color: blue;
}

.testimonials:hover .overlay {
  opacity: 0;
}

/* -------------------- Blog -------------------- */

.blogPosts1 {
  background-color: darkgrey;
  border: 1px solid black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-size: 1em;
  height: 400px;
  margin: 10px;
  padding: 10px;
  /* text-align: justify; */
  text-indent: 50px;
  /* text-justify: inter-word; */
  width: 300px;
}

.blogPosts1 h1 {
  text-align: center;
}

/* -------------------- Contact -------------------- */

.contactContainer {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 10px;
  /* align-content: center; */
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 15px;
  /* resize: vertical; */
}

.column {
  /* float: left; */
  /* width: 50%; */
  /* margin-top: 6px; */
  /* padding: 20px; */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------- Buttons -------------------- */

.btn {
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
}

.btn:hover {
  background-color: darkgrey;
  color: white;
}

/* -------------------- Footer -------------------- */

footer {
  text-align: center;
  color: #fff;
  background-color: black;
  width: 100%;
  padding: 5px;
  /* position: fixed; */
  /* position: absolute; */
  /* bottom: 0; */
  /* z-index: 1; */
  /* display: inline-block; */
}

/* -------------------- Responsive Screen -------------------- */

@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
